AppSiacpiMovil.App/Service References/MovilStorage/SiacpiMensaje1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarMensajeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pEmailTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pNombreTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pNombreFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pTipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pAsunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_pContenido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>